body.mymandir {
  background: #e8e8e8;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body.mymandir:lang(hi) {
  font-family: "Noto Sans", serif;
}

body.mymandir > .root-section {
  padding-top: 0;
  overflow: hidden;
}

body.mymandir .post-list,
body.mymandir .user-header-container,
body.mymandir .temple-header-container,
body.mymandir .card-container {
  max-width: 480px;
  display: block;
  margin: 0 auto;
}

body.mymandir .user-header-container .card .card-content {
  padding-top: 1rem;
}

body.mymandir .top-nav {
  padding: 5px;
  color: white;
  background-color: #03a9f4;
}

body.mymandir .top-nav .logo-brand a,
body.mymandir .top-nav .logo-brand {
  color: white;
  font-weight: normal;
  font-size: 20px;
}

body.mymandir nav.banner {
  background: white;
  padding: 0.5rem;
  margin-top: 1.5rem;
  text-align: center;
}

body.mymandir .top-nav .logo-brand .logo {
  width: 40px;
  height: 40px;
  margin: 6px;
  border: 1px solid #dc8108;
  border-radius: 50%;
  /* //animation-duration: 1s;
  //animation-name: pendulum;
  //animation-iteration-count: infinite; */
}
body.mymandir .top-nav .logo-brand .logo:hover {
  animation-duration: 1s;
  animation-name: pendulum;
  animation-iteration-count: infinite;
}

@keyframes pendulum {
  0%,
  100% {
    transform: rotate(60deg);
  }
  50% {
    transform: rotate(-60deg);
  }
}

body.mymandir .top-nav .mandir {
  font-weight: bold;
}

body.mymandir .tag-line {
  font-weight: normal;
  font-size: 12px;
}

body.mymandir .logo-link {
  display: flex;
}

body.mymandir .mandir {
  font-size: 17px;
}

body.mymandir .top-nav .level-item {
  color: white;
}

body.mymandir .card {
  margin-bottom: 1.25rem;
}

body.mymandir .card:first-child {
  margin-top: 1.25rem;
}

body.mymandir .card .title {
  line-height: 2rem;
  font-size: 1.25rem;
}
body.mymandir.post-details .card .title {
  font-size: 1.25rem;
  line-height: 1.875rem;
}

body.mymandir .card .sender-name,
body.mymandir .card .sender-temple-name {
  font-size: 0.8rem;
  color: #363636;
  display: block;
  line-height: 1.2rem;
}

body.mymandir .card .sender-name {
    display: inline;
}

body.mymandir .card .card-image {
  margin: 0 -0.5rem 0.5rem;
}

body.mymandir .card .card-image .video-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  text-align: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.45);
}
body.mymandir .card .card-image .video-overlay .fa-play-circle {
  font-size: 5em;
  width: 100%;
  color: white;
}

body.mymandir .card .card-content {
  padding: 0.5rem;
}

body.mymandir.post-details .card .card-content {
  padding: 0.5rem;
  border-bottom: 1px solid #efefef;
}

/*body.mymandir.post-details  .card .profile-thumbnail {
  height: 64px;
  width: 64px;
}*/

body.mymandir .card .profile-thumbnail {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  background-size: cover;
  background-position: center;
}

body.mymandir .card .post-text {
  margin-top: 1rem;
  margin-bottom: 1rem;
  color: #363636;
  font-size: 1rem;
  line-height: 1.25rem;
}
body.mymandir .card .post-text h3{
  font-size: 1em;
  line-height: 1.5rem;
}

body.mymandir .truncate {
  position: relative;
  max-height: 4.5em; /* exactly three lines */
  overflow: hidden;
}
body.mymandir .truncate:after {
  content: "";
  text-align: right;
  position: absolute;
  bottom: 0;
  right: 0;
  width: 30%;
  max-height: 1.2em;
}

body.mymandir .card .media:not(:last-child) {
  margin-bottom: 0.5rem;
  margin-top: 0rem;
}

body.mymandir .card .image video {
  width: 100%;
  max-height: 100vh;
}
body.mymandir .card-image .audio-figure {
  background: #fafafa;
}
body.mymandir .card-image .audio-figure img {
  width: 20%;
  display: inline-block;
  vertical-align: middle;
}
body.mymandir .card-image .audio-figure audio {
  width: 78%;
  display: inline-block;
  vertical-align: middle;
  margin: 0 auto;
}

body.mymandir .card .reactions-and-shares-container {
  margin-bottom: 1rem;
  display: flex;
  color:#9b9b9b;
}

body.mymandir .card .reactions-and-shares-container small {
  font-size: 0.85em;
}

body.mymandir .thumbnails-container {
  clear: both;
  overflow: hidden;
  margin: 0 auto;
}

body.mymandir .reaction.image {
  height: 20px;
  width: 20px;
}

body.mymandir .thumbnail-container {
  float: left;
  margin: 0 0 0.25rem 0;
}

body.mymandir .share-buttons {
  box-sizing: border-box;
  display: flex;
  margin-left: -0.5rem;
  margin-right: -0.5rem;
  margin-bottom: 0rem;
  clear: both;
}

@media only screen and (max-width: 375px) {
  body.mymandir .share-buttons .button .par-share-karo {
    display: block;
  }
}

body.mymandir .share-buttons .button {
  border-radius: 4px;
  width: 100%;
  padding: 0.68rem 0;
  height: auto;
}
body.mymandir .share-buttons .whatsapp-share-button {
  background: rgb(0, 189, 90);
  color: white;
  border: none;
  margin: 0px 4px 0px 8px;
}
body.mymandir .share-buttons .whatsapp-share-button:active,
body.mymandir .share-buttons .whatsapp-share-button:hover {
  background: rgb(0, 170, 81);
  border: none;
}

body.mymandir .share-buttons .facebook-share-button {
  background: rgb(67, 96, 180);
  color: white;
  justify-content: left;
  border: none;
  margin: 0px 8px 0px 4px;
}
body.mymandir .share-buttons .facebook-share-button:active,
body.mymandir .share-buttons .facebook-share-button:hover {
  background: rgb(61, 86, 172);
  border: none;
}
body.mymandir .whatsapp-share-text,
.facebook-share-text {
  margin: 0 auto;
  font-size: 15px;
  font-weight: bold;
}

body.mymandir .share-buttons .button .icon {
  /* margin-right: 0.25rem !important; */
  align-content: left;
  margin-left: 0.5rem;
  font-size: 1.5rem;
}

body.mymandir .button.download {
  background-color: transparent;
  font-weight: bold;
  border-color: transparent;
  color: white;
  padding: 0;
  justify-content: flex-end;
  margin: 0 10px;
}

body.mymandir .is-pulled-right {
  float: right !important;
}
body.mymandir .top-nav-right-container {
  position: absolute;
  right: 0;
}

body.mymandir .button.download img {
  display: inline;
  width: 95px;
  margin-top: 7px;
}

body.mymandir .chhath-pooja-banner {
  line-height: 1.2rem;
  background: white;
  margin-top: 1.5rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

body.mymandir .chhath-pooja-banner .is-half {
  width: 49%;
  display: inline-block;
}

body.mymandir .chhath-pooja-banner .left-half {
  text-align: center;
}

body.mymandir .chhath-pooja-banner img.sun-god {
  max-width: 100%;
  padding: 1rem;
  max-height: 400px;
}

body.mymandir .chhath-pooja-banner .title {
  font-size: 1.2rem;
}
body.mymandir .chhath-pooja-banner .subtitle {
  font-size: 1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  color: #777;
}
body.mymandir .chhath-pooja-banner a {
  font-size: 1rem;
  display: block;
  line-height: 1.4rem;
  margin-bottom: 0.5rem;
}
body.mymandir .user-header-container .user-Image,
body.mymandir .temple-header-container .temple-Image,
body.mymandir .temple-header-container .temple-Info,
body.mymandir .user-header-container .user-Info {
  width: 100%;
}

body.mymandir
  .temple-header-container
  .temple-Image
  .temple-header-profile-thumbnail,
body.mymandir
  .user-header-container
  .user-Image
  .user-header-profile-thumbnail {
  border-radius: 50%;
  width: 100px;
  height: 100px;
  margin: 0px auto;
  background-size: cover;
  background-position: center;
}
body.mymandir .temple-header-container .temple-Info,
body.mymandir .user-header-container .user-Info {
  padding: 2rem;
  text-align: center;
}
body.mymandir .user-mymandir-metadata,
body.mymandir .temple-mymandir-metadata {
  margin-top: 0.25rem;
}
body.mymandir .temple-Info .temple-city,
body.mymandir .user-Info .user-city {
  margin-top: 0;
  margin-bottom: 0px;
  line-height: 1.8rem;
}
body.mymandir .temple-Info .temple-description,
body.mymandir .user-Info .user-bio {
  margin-top: 0;
  margin-bottom: 0;
}
body.mymandir .temple-Info .title,
body.mymandir .user-Info .title {
  font-size: 1.2rem;
  margin-bottom: 0;
}
body.mymandir .post-list .card .tags {
  margin-bottom: 0.5rem;
}

body.mymandir .tags .tag {
  background: #01a8f4;
  color: white;
  font-weight: bold;
  border-radius: 15px;
}

body.mymandir .comment-list h3 {
  padding: 0.5rem;
  font-weight: bold;
}
body.mymandir .comment-list .comment img {
  height: 100%;
  width: 100%;
  border-radius: 50%;
}
body.mymandir .comment {
  padding: 0.5rem;
  border-bottom: 1px solid #f1f1f1;
  font-size: 0.8rem;
}

body.mymandir .comment .comment-thumbnail{
    height: 32px;
    border-radius: 16px;
    background-size: contain;
}

.app-download-widget .card {
  text-align: center;
  padding: 1rem;
  background: none;
  border: none;
  box-shadow: none;
}
body.mymandir .app-download-widget .card a {
  margin-bottom: 15px;
  justify-content: center;
}

body.mymandir .app-download-widget .app-description {
  margin: 1rem 1.5rem;
}
body.mymandir .app-download-widget .title.is-3 {
  font-size: 1.4rem;
}
body.mymandir .app-download-widget .app-logo img {
  width: 45px;
}
body.mymandir .app-download-widget .app-logo,
body.mymandir .app-download-widget .text-and-stars {
  display: inline-block;
  margin: 0 0.25rem;
  vertical-align: top;
  text-align: left;
}
body.mymandir .text-and-stars img {
  width: 70%;
}
body.mymandir .text-and-stars .text {
  line-height: 1rem;
  font-size: 0.8rem;
}
body.mymandir .card .small-gray-text {
  font-size: 0.9rem;
  color: #777;
  line-height: 2;
}
body.mymandir .app-download-widget a.button.download {
  width: 15rem;
  height: 2.5rem;
}
body.mymandir .ask-notification-inApp .card {
  padding: 1rem;
  display: flex;
}
body.mymandir .ask-notification-inApp .card .image,
body.mymandir .ask-notification-inApp .card .notification-description {
  display: inline-block;
  margin: 0 0.25rem;
}
body.mymandir .ask-notification-inApp .card .notification-description {
  vertical-align: top;
}
body.mymandir .ask-notification-inApp .title {
  margin-bottom: 0;
}
body.mymandir .ask-notification-inApp .small-gray-text {
  line-height: 1.5rem;
}
body.mymandir #notificationPermissionButton {
  background: #4a90e2;
  float: right;
  clear: both;
  padding: 20px;
  margin: 0;
}

body.mymandir .title.four-o-four {
  margin: 2em auto 1em;
  text-align: center;
}

body.mymandir .no-more-posts {
  margin-top: 15px;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

body.mymandir .no-more-posts .title{
  text-align: center;
  font-size: 26px !important;
}

body.mymandir .no-more-posts img {
  width: 300px;
  margin-bottom: 1em;
}

body.mymandir .subtitle.four-o-four {
  text-align: center;
  margin-bottom: 2em;
}
body.mymandir.post-details .recommended-post .attachment-thumbnail {
  width: 160px;
  height: 100px;
  background-size: cover;
  background-position: center;
}
body.mymandir.post-details .recommended-post img.reaction-thumbnail {
  width: 20px;
  max-height: 20px;
  margin-right: 0.25rem;
  float: left;
}
body.mymandir.post-details .recommended-post {
  font-size: 0.8rem;
  border-radius: 0;
  margin-bottom: 0.5rem;
  padding: 0 0.5rem 0.5rem;
  border-bottom: 1px solid #f1f1f1;
  display: block;
}
body.mymandir.post-details .recommended-post .media-content {
  color: #4a4a4a;
}
body.mymandir.post-details .recommended-post .text {
  display: block;
  line-height: 1.8rem;
}
body.mymandir.post-details .recommended-post .comments-shares,
body.mymandir.post-details .recommended-post .reactions {
  display: block;
  color: #9b9b9b;
  font-size: 14px;
}

body.mymandir.post-details .recommended-post .author {
  max-height: 2.6em;
  line-height: 1.3em;
  overflow: hidden;
  font-size: 14px;
  display: block;
  font-weight: bold;
  color: #363636;
}

body.mymandir.post-details .recommended-post .user-name {
  color: #9b9b9b;
  max-height: 1.3em;
  line-height: 1.3em;
  overflow: hidden;
  font-size: 14px;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

body.mymandir.post-details .recommended-posts-subtitle {
  margin: 1rem 0.5rem;
  font-weight: bold;
  font-size: 1rem;
}
body.mymandir .ask-notification-inApp {
  overflow: hidden;
}
body.mymandir .categories-menu-section {
  height: 48px;
  background-color: rgb(173,55,54);
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
  padding: 10px 0;
}
body.mymandir .categories-bar {
  display: -webkit-box;
  display: -moz-box;
  overflow-x: scroll;
  -webkit-overflow-scrolling: touch;
  overflow-y: hidden;
  position: relative;
  padding: 0 4px;
  z-index: 2;
}

body.mymandir .categories-bar a {
  display: block;
  color: #D9A5A6;
  text-decoration: none;
  font-weight: 700;
  padding: 0 12px;
}
body.mymandir .categories-bar a:hover,
body.mymandir .categories-bar a.active-category {
  font-weight: 700;
  color: #fff;
}
body.mymandir .embed-container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
}

body.mymandir .pages-wrapper {
  display: flex;
  min-width: 100vw;
  justify-content: center;
  margin-bottom: 10px;
}

body.mymandir .pages {
  display: flex;
  min-width: 310px;
  justify-content: center;
  background-color: white;
  padding: 8px 0px;
  border-radius: 4px;
}

body.mymandir .nextPage {
  width: 50%;
  text-align: center;
}

body.mymandir .prevPage {
  width: 50%;
  text-align: center;
}

body.mymandir .not-active {
  pointer-events: none;
  cursor: default;
  color: gray;
}

body.mymandir .embed-container iframe,
body.mymandir .embed-container object,
body.mymandir .embed-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

body.mymandir .freeTemple iframe {
  width: 100%;
  height: 760px;
}

body.mymandir .mymandir-footer a {
  color: #3273dc;
}
body.mymandir .mymandir-footer {
  background-color: #ffff4c;
  padding-top: 2px;
  color: black;
  letter-spacing: 1px;
  width: 100%;
  position: fixed;
  bottom: 0;
  z-index: 1;
}

body.mymandir .media {
    display: flex;
    align-items: center;
}

body.mymandir.post-details .media .media-content .content .name {
  color: #9b9b9b;
}

body.mymandir .media-content .post-time-text {
    color: #9b9b9b;
    font-size: 0.8rem;
}

body.mymandir .media-left {
    margin-right: 0.6rem !important;
}

body.mymandir.post-details .comment-text {
  font-size: 14px;
}
body.mymandir.post-details .comment-time-text {
    color: #9b9b9b;
}
body.mymandir .new-year-inapp-container {
  margin-top: 20px;
  background-color: #fff;
  -webkit-box-shadow: 0 2px 3px rgba(10, 10, 10, 0.1),
    0 0 0 1px rgba(10, 10, 10, 0.1);
  box-shadow: 0 2px 3px rgba(10, 10, 10, 0.1), 0 0 0 1px rgba(10, 10, 10, 0.1);
  padding: 10px 0;
  max-width: 480px;
  margin: 20px auto;
}
body.mymandir .new-year-inapp-container .title {
  font-size: 18px;
  font-weight: 700;
  margin: 0.5rem;
}
body.mymandir .new-year-inapp-container .subtitle {
  font-size: 16px;
  color: #4a4a4a;
  margin: 0.5rem 0.5rem 0.75rem 0.5rem;
}
body.mymandir .new-year-inapp-container .card-container {
  display: -webkit-box;
  overflow-x: scroll;
  -webkit-overflow-scrolling: touch;
  overflow-y: hidden;
}
body.mymandir .new-year-inapp-container .card-container .greeting-card {
  width: 130px;
  margin-right: 5px;
}
body.mymandir .new-year-inapp-container .card-container .greeting-card .image {
  min-height: 180px;
}
body.mymandir .tagTitle {
  padding: 30px;
  text-align: center;
  margin-bottom: 0rem;
  line-height: 0.5;
  background: white;
  font-size: 2.5rem;
}

body.mymandir .new-year-inapp-container .card-container .greeting-card .button {
  margin: 5px 0;
  display: block;
  background: #01a8f4;
  color: white;
  padding: 5px 0;
  font-weight: bold;
  font-size: 0.9rem;
}
::-webkit-scrollbar {
  display: none;
}

body.mymandir.email-subscription-container .root-section {
  padding: 4em 0;
  background: white;
  text-align: center;
  font-size: 18px;
}

body.mymandir.email-subscription-container input#email {
  padding: 0.5em;
  margin-top: 2em;
  font-size: 16px;
}

body.mymandir.email-subscription-container .free-temple-website-footer,
body.mymandir.email-subscription-container .ask-notification-inApp {
  display: none;
}

#play_ad {
  width: 70px;
  position: absolute;
  margin-top: 2px;
  margin-left: 6px;
}

.marquee {
  height: 25px;
  width: 105%;
  overflow: hidden;
  position: relative;
}

.marquee div {
  display: block;
  width: 200%;
  height: 30px;
  position: absolute;
  overflow: hidden;
  animation: marquee 5s linear infinite;
}


@keyframes marquee {
  0% { left: 100%; }
  100% { left: -100%; }
}

@media only screen and  (min-width: 768px){
  .marquee div {
    animation: marquee 20s linear infinite;
  }
}