html{
    overflow: scroll;
}
::-webkit-scrollbar {
    width: 0px;
    background: transparent; /* make scrollbar transparent */
}
@font-face {
    font-family: SanFranciscoSemiBold;
    src: url('../fonts/San/SanFranciscoDisplay-Semibold.otf');
}

@font-face{
    font-family: SanFranciscoThin;
    src: url('../fonts/San/SanFranciscoDisplay-Thin.otf')
}

@font-face {
    font-family: SanFranciscoRegular;
    src: url('../fonts/San/SanFranciscoDisplay-Regular.otf');
}
.my-2p{ margin-top: 2%; margin-bottom: 2% }
.my-10p{ margin-top: 10%; margin-bottom: 10%;}
.my-15p{ margin-top: 15%; margin-bottom: 15%;}
.my-20p{ margin-top: 20%; margin-bottom: 20%;}
.my-5p{ margin-top: 5%; margin-bottom: 5% }
.bottom-margin-50{ margin-bottom: 50px}
.top-margin-10p{ margin-top: 10%}
.top-margin-15p{ margin-top: 15%}
.top-margin-20p{ margin-top: 20%}
.left-margin-15{ margin-left: 15px; }
.top-margin-15{ margin-top: 15px; }
.top-margin-20{ margin-top: 20px; }
.top-margin-25{ margin-top: 25px; }
.top-margin-30{ margin-top: 30px; }
.top-margin-50{ margin-top: 50px; }
.top-margin-60{ margin-top: 60px; }
.top-margin-70{ margin-top: 70px; }
.top-margin-80{ margin-top: 80px; }

.top-padding-30{ padding-top:30px; }
.top-padding-50{ padding-top:50px; }


nav{
    background-color: #03a9f4
}
.navigation-bar {
    background-color: #03a9f4;
}
.profile_image{
    width:28px;
    height:28px;
}
.profile_image_large{
    width:50px;
    height:50px;
    box-shadow: 2px 2px 5px;
}
.content .card-body-head{
    margin-left: -10px;
}

.content .reactions p{
    font-size: 14px;
    color: grey;
}

.content .share-buttons{
    color: black;!important;
    font-size: 20px;
}

.post-update textarea{
    border-style: solid;
    border-width: 2px;
    border-color: #ededed;
}





.test1{
    background-color: black;
}
.test2{
    background-color: red;
}
.test3{
    background-color: #0b2e13;
}